<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tasty Notebook</title>
    <link rel="stylesheet" href="styles/general.css" />
    <link rel="stylesheet" href="styles/styles.css" />
    <link type="image/png" href="imgs/tasty-notebook-logo.png" rel="icon" />
  </head>
  <!-- classes: show-create-recipe-container show-form-overlay hide-scroll -->
  <body class="">
    <header class="header">
      <h1 class="title">Welcome to the Tasty Notebook</h1>
      <p class="sub-title">You can create your own recipes from scratch</p>
      <button class="create-recipe default-btn create-recipe-btn">
        Create Recipe
      </button>
    </header>
    <main class="main">
      <% if (hasRecipes) { %> <% recipes.forEach(recipe => { %>
      <div class="recipe">
        <div class="recipe-container">
          <header class="recipe-header">
            <img
              src="data:<%= recipe.mimeType %>;base64,<%= recipe.photo %>"
              alt="<%= recipe.recipeName ? recipe.recipeName : 'Recipe photo' %>"
              class="recipe-img"
              onerror="this.style.borderRadius = '0%';"
            />

            <h2 class="recipe-name"><%= recipe.recipeName %></h2>
            <hr class="divider divider--margin-bot" />
            <div class="ratings">
              <img
                src="https://img.icons8.com/?size=100&id=85389&format=png&color=d9534f"
                alt="star rating"
                class="star-rating"
              />
              <img
                src="https://img.icons8.com/?size=100&id=85389&format=png&color=d9534f"
                alt="star rating"
                class="star-rating"
              />
              <img
                src="https://img.icons8.com/?size=100&id=85389&format=png&color=d9534f"
                alt="star rating"
                class="star-rating"
              />
              <img
                src="https://img.icons8.com/?size=100&id=85389&format=png&color=d9534f"
                alt="star rating"
                class="star-rating"
              />
              <img
                src="https://img.icons8.com/?size=100&id=85389&format=png&color=d9534f"
                alt="star rating"
                class="star-rating"
              />
            </div>
            <p class="number-reviews">
              <span class="emphasis">5</span> from
              <span class="emphasis">76</span> reviews
            </p>
            <aside class="recipe-details">
              <div class="recipe-detail">
                <ion-icon name="person" class="recipe-icon"></ion-icon>
                <p class="recipe-more-dets">Author: <%= recipe.author %></p>
              </div>
              <div class="recipe-detail">
                <ion-icon name="time" class="recipe-icon"></ion-icon>
                <p class="recipe-more-dets">Prep: <%= recipe.prepTime %></p>
              </div>
              <div class="recipe-detail">
                <ion-icon name="time" class="recipe-icon"></ion-icon>
                <p class="recipe-more-dets">Cook: <%= recipe.cookTime %></p>
              </div>
              <div class="recipe-detail">
                <ion-icon name="restaurant" class="recipe-icon"></ion-icon>
                <p class="recipe-more-dets"><%= recipe.mealCourse %></p>
              </div>
              <div class="recipe-detail">
                <ion-icon name="earth" class="recipe-icon"></ion-icon>
                <p class="recipe-more-dets"><%= recipe.cuisine %></p>
              </div>
            </aside>
          </header>
          <div class="ingredients">
            <h3 class="ingredients-label">Ingredients</h3>
            <p class="servings">
              Servings:
              <span class="emphasis"><%= recipe.numServing %></span> people
            </p>

            <div class="ingredient-sets">
              <% recipe.ingredientSets.forEach(ingSet => { %>
              <div class="ingredient-set">
                <p class="set-label"><%= Object.keys(ingSet)[0] %>:</p>
                <% ingSet[Object.keys(ingSet)[0]].forEach(ings => { %>
                <label class="ingredient">
                  <input
                    type="checkbox"
                    class="ingredient-checkbox checkbox-reset"
                  />
                  <p class="ingredient-p">
                    <%=ings.quantity%><%=ings.measurement%>, <%=ings.ingName%>
                    <%=ings.ingDetails%>
                  </p>
                </label>
                <% }) %>
              </div>
              <% }) %>
            </div>
          </div>
          <hr class="divider divider--size" />
          <div class="instructions">
            <h3 class="instructions-label">Instructions</h3>
            <ol class="instruction-list" role="list">
              <% recipe.instructions.forEach(instruction => { %>
              <li class="instruction-desc"><%= instruction %></li>
              <% }) %>
            </ol>
          </div>
          <hr class="divider divider--size" />
          <div class="nutrition">
            <header class="nutrition-header">
              <h3 class="nutrition-label">Nutrition</h3>
              <aside class="nutrition-other">Per Serving</aside>
            </header>
            <div class="nutrition-info">
              <p class="calories">
                <span class="nutrition-bold"><%=recipe.calories%>kcal</span>
                calories
              </p>
              <p class="carbs">
                <span class="nutrition-bold"><%=recipe.carbohydrates%>g</span>
                carbs
              </p>
              <p class="protein">
                <span class="nutrition-bold"><%=recipe.protein%>g</span>
                protein
              </p>
              <p class="fat">
                <span class="nutrition-bold"><%=recipe.fat%>g</span>
                fat
              </p>
            </div>
          </div>
        </div>
        <div class="important-icons">
          <button class="important-btn default-btn edit-icon-btn">
            <ion-icon
              name="create-outline"
              class="important-icon edit-icon"
            ></ion-icon>
          </button>

          <button class="important-btn default-btn delete-icon-btn">
            <ion-icon
              name="trash-outline"
              class="important-icon delete-icon"
            ></ion-icon>
          </button>
        </div>
      </div>
      <% }) %> <% } else { %>
      <h1 class="no-recipe-h1">No recipes yet</h1>
      <% } %>
    </main>
    <button
      class="floating-create-recipe default-btn create-recipe-btn"
      data-text="Create your own recipe"
    >
      <ion-icon name="add-circle" class="plus-icon"></ion-icon>
    </button>
    <div class="create-recipe-container">
      <h1 class="create-recipe-label">Create A Recipe</h1>
      <div class="create-recipe-form">
        <h2 class="form-label">Basic Info</h2>
        <!-- show-form-1 show-form-2 show-form-3 show-form-4 -->
        <form action="" class="create-form show-form-1">
          <div class="basic-input-recipe create-form-1">
            <div class="label-input-grouping">
              <label for="recipe-name" class="create-input-label"
                >Name of Recipe</label
              >
              <input
                id="recipe-name"
                name="recipe-name"
                type="text"
                class="create-input reset-focus"
              />
            </div>
            <div class="label-input-grouping">
              <label for="author" class="create-input-label">Author</label>
              <input
                id="author"
                name="author"
                type="text"
                class="create-input reset-focus"
              />
            </div>
            <div class="time-inputs-container">
              <div class="label-input-grouping">
                <label for="prep-time-hours" class="create-input-label"
                  >Prep Time</label
                >
                <div class="timer-container">
                  <label for="prep-time-hours" class="timer-label">
                    <p class="timer-time-label">hours</p>
                    <input
                      type="number"
                      class="create-input create-input-timer"
                      id="prep-time-hours"
                      name="prep-time-hours"
                    />
                  </label>
                  <p class="colon">:</p>
                  <label for="prep-time-minutes" class="timer-label">
                    <p class="timer-time-label">minutes</p>
                    <input
                      type="number"
                      class="create-input create-input-timer"
                      id="prep-time-minutes"
                      name="prep-time-minutes"
                    />
                  </label>
                  <p class="colon">:</p>
                  <label for="prep-time-seconds" class="timer-label">
                    <p class="timer-time-label">seconds</p>
                    <input
                      type="number"
                      class="create-input create-input-timer"
                      id="prep-time-seconds"
                      name="prep-time-seconds"
                    />
                  </label>
                </div>
              </div>
              <div class="label-input-grouping">
                <label for="cook-time-hours" class="create-input-label"
                  >Cook Time</label
                >
                <div class="timer-container">
                  <label for="cook-time-hours" class="timer-label">
                    <p class="timer-time-label">hours</p>
                    <input
                      type="number"
                      class="create-input create-input-timer"
                      id="cook-time-hours"
                      name="cook-time-hours"
                      min="1"
                      max="59"
                    />
                  </label>
                  <p class="colon">:</p>
                  <label for="cook-time-minutes" class="timer-label">
                    <p class="timer-time-label">minutes</p>
                    <input
                      type="number"
                      class="create-input create-input-timer"
                      id="cook-time-minutes"
                      name="cook-time-minutes"
                      min="1"
                      max="59"
                    />
                  </label>
                  <p class="colon">:</p>
                  <label for="cook-time-seconds" class="timer-label">
                    <p class="timer-time-label">seconds</p>
                    <input
                      type="number"
                      class="create-input create-input-timer"
                      id="cook-time-seconds"
                      name="cook-time-seconds"
                      min="1"
                      max="59"
                    />
                  </label>
                </div>
              </div>
            </div>
            <div class="dropdown-inputs-container">
              <div class="label-input-grouping">
                <label for="meal-course" class="create-input-label"
                  >Meal Course</label
                >
                <div class="custom-select">
                  <select
                    class="create-input create-input-dropdown reset-focus"
                    id="meal-course"
                    name="meal-course"
                  >
                    <option value="appetizer">Appetizer</option>
                    <option value="main">Main</option>
                    <option value="dessert">Dessert</option>
                    <option value="soup">Soup</option>
                    <option value="salad">Salad</option>
                  </select>
                </div>
              </div>
              <div class="label-input-grouping">
                <label for="cuisine" class="create-input-label">Cuisine</label>

                <div class="custom-select">
                  <select
                    class="create-input create-input-dropdown reset-focus"
                    id="cuisine"
                    name="cuisine"
                  >
                    <option value="filipino">Filipino</option>
                    <option value="italian">Italian</option>
                    <option value="french">French</option>
                    <option value="german">German</option>
                    <option value="american">American</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="other-inputs-container">
              <div class="label-input-grouping">
                <label for="recipe-photo" class="create-input-label"
                  >Upload Photo</label
                >
                <div class="upload-photo-custom">
                  <input
                    type="file"
                    id="recipe-photo"
                    name="recipe-photo"
                    class="recipe-photo-input"
                  />
                  <span class="file-custom" data-before="Choose file..."></span>
                </div>
              </div>
              <div class="label-input-grouping">
                <label for="num-serving" class="create-input-label"
                  >Number of Serving</label
                >

                <input
                  type="number"
                  id="num-serving"
                  name="num-serving"
                  class="create-input reset-focus num-serving-input"
                />
              </div>
            </div>
          </div>

          <div class="ingredient-sets-input create-form-2">
            <div class="ingredient-set-inputs">
              <header class="upper-container">
                <div class="set-name-container">
                  <label
                    for="set-name-1-1"
                    class="ing-set-name-label hidden-label"
                  >
                    Set Name</label
                  >
                  <input
                    type="text"
                    id="set-name-1-1"
                    name="set-name-1-1"
                    class="set-name-input reset-focus"
                    placeholder="Set Name"
                  />
                </div>
                <button type="button" class="delete-set-btn default-btn">
                  Delete Set
                </button>
              </header>
              <section class="ingredient-inputs-container">
                <div class="ingredient-inputs">
                  <label
                    for="ingredient-qty-1-2"
                    class="create-input-label ing-quantity-label"
                    >Quantity</label
                  >
                  <label
                    for="ingredient-measurement-1-3"
                    class="create-input-label ing-measure-label"
                    >Measurement</label
                  >
                  <label
                    for="ingredient-name-1-4"
                    class="ing-name-label create-input-label"
                    >Ingredient Name</label
                  >
                  <label
                    for="ingredient-details-1-5"
                    class="ingredient-dets-label create-input-label"
                    >Ingredient Details</label
                  >

                  <input
                    type="number"
                    class="create-input ingredient-qty-input"
                    id="ingredient-qty-1-2"
                    name="ingredient-qty-1-2"
                  />

                  <div class="custom-select ing-measure-input-container">
                    <select
                      name="ingredient-measurement-1-3"
                      id="ingredient-measurement-1-3"
                      class="create-input create-input-dropdown measurement-input"
                    >
                      <option value="cup">cup</option>
                    </select>
                  </div>

                  <input
                    type="text"
                    class="create-input ing-name-input"
                    id="ingredient-name-1-4"
                    name="ingredient-name-1-4"
                  />
                  <input
                    type="text"
                    class="create-input ing-details-input"
                    id="ingredient-details-1-5"
                    name="ingredient-details-1-5"
                  />
                  <button
                    class="delete-ingredient-btn default-btn"
                    type="button"
                  >
                    <ion-icon
                      name="close-outline"
                      class="delete-ingredient-icon"
                    ></ion-icon>
                  </button>
                </div>
              </section>
              <button class="add-ingredient-btn default-btn" type="button">
                <ion-icon name="add" class="add-ingredient-icon"></ion-icon>
                <p>Add Ingredient</p>
              </button>
            </div>

            <button type="button" class="add-set-btn default-btn">
              <ion-icon name="add" class="add-set-icon"></ion-icon>
              <p>Add Set</p>
            </button>
          </div>

          <div class="instructions-input-container create-form-3">
            <div class="instruction-input-container">
              <label
                for="instruction-1"
                class="ins-label create-input-label hidden-label"
                >Instruction</label
              >
              <textarea
                name="instruction-1"
                id="instruction-1"
                class="instruction-input create-input reset-focus reset-textarea"
              ></textarea>
              <button class="delete-instruction-btn default-btn" type="button">
                <ion-icon
                  name="trash-outline"
                  class="delete-instruction-icon"
                ></ion-icon>
              </button>
            </div>

            <button class="add-instruction-btn default-btn" type="button">
              <ion-icon name="add" class="add-instruction-icon"></ion-icon>
              <p>Add Instruction</p>
            </button>
          </div>

          <div class="nutrition-inputs-container create-form-4">
            <div class="nutrition-input-container">
              <label
                for="nutrition-calories"
                class="nutrition-input-label create-input-label"
                >Calories</label
              >
              <div class="nutrition-input">
                <input
                  type="number"
                  class="nutrition-qty-input create-input"
                  id="nutrition-calories"
                  name="nutrition-calories"
                />
                <p class="nutrition-measurement">kcal</p>
              </div>
            </div>
            <div class="nutrition-input-container">
              <label
                for="nutrition-carbs"
                class="nutrition-input-label create-input-label"
                >Carbohydrates</label
              >
              <div class="nutrition-input">
                <input
                  type="number"
                  class="nutrition-qty-input create-input"
                  id="nutrition-carbs"
                  name="nutrition-carbs"
                />
                <p class="nutrition-measurement">g</p>
              </div>
            </div>
            <div class="nutrition-input-container">
              <label
                for="nutrition-protein"
                class="nutrition-input-label create-input-label"
                >Protein</label
              >
              <div class="nutrition-input">
                <input
                  type="number"
                  class="nutrition-qty-input create-input"
                  id="nutrition-protein"
                  name="nutrition-protein"
                />
                <p class="nutrition-measurement">g</p>
              </div>
            </div>
            <div class="nutrition-input-container">
              <label
                for="nutrition-fat"
                class="nutrition-input-label create-input-label"
                >Fat</label
              >
              <div class="nutrition-input">
                <input
                  type="number"
                  class="nutrition-qty-input create-input"
                  id="nutrition-fat"
                  name="nutrition-fat"
                />
                <p class="nutrition-measurement">g</p>
              </div>
            </div>
          </div>
          <!-- to hide arrow icon (hide-arrow-icon) -->
          <button
            class="next-btn default-btn reset-focus"
            id="create-recipe-btn-1"
            type="button"
          >
            <p class="next-button-text">Next</p>
            <div class="arrow-icon-container">
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </div>
          </button>
        </form>
      </div>
    </div>
    <div class="form-overlay"></div>
    <script
      type="module"
      src="https://cdnjs.cloudflare.com/ajax/libs/ionicons/7.1.0/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://cdnjs.cloudflare.com/ajax/libs/ionicons/7.1.0/ionicons/ionicons.js"
    ></script>
    <script type="module" src="scripts/create-recipe.js"></script>
    <script type="module" src="scripts/form-behavior.js"></script>
    <script type="module" src="scripts/store-create-recipe.js"></script>
    <script type="module" src="scripts/ingredient-buttons.js"></script>
    <script type="module" src="scripts/instruction-buttons.js"></script>
    <script type="module" src="scripts/post-recipe.js"></script>
    <script type="module" src="scripts/delete-recipe.js"></script>
    <script type="module" src="scripts/edit-recipe.js"></script>
  </body>
</html>
